.container {
  max-width: 100rem;
  padding: 0 1rem;
  margin: 0 auto;
}
.text-center {
  text-align: center
}
.section-heading {
  font-size: 2rem;
  padding: 0rem 0;
}
#tranding {
  padding: 1rem 0;
  max-height : 100vh;
}
#tranding .tranding-slider {
  height: 650px;
  padding: 2rem 0;
  position: relative;
}
.tranding-slide {
  width: 600px;
  height: 300px;
  position: relative;
}
.tranding-slide .tranding-slide-img img {
  width: 600px;
  height: 400px;
  object-fit: cover;
}
.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}
.tranding-slide-content .tranding-slide-content-bottom {
  bottom: 2rem;
  left: 2rem;
}





