body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .photo, .text1 {
    margin: 10px;
  }
  
  .photo {
    width: 100px; /* Atur lebar sesuai kebutuhan */
    height: 100px; /* Atur tinggi sesuai kebutuhan */
    background-color: #833636; /* Contoh warna latar belakang */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text1, .text2 {
    padding: 10px;
    background-color: #5e050567; /* Contoh warna latar belakang */
  }
  
  .text2 {
    width: 100%; /* Membuat teks 2 selebar kontainer */
    text-align: center;
  }
  